.profile {
    width: 100%;
    max-height: 120px;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 500px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
}
