.popup__save-button {
    width: 358px;
    height: 50px;
    background-color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    color: #fff;
    margin: 0 auto;
    border: none;
}
