.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 60px;
}
@media screen and (max-width: 500px) {
    .profile__avatar {
        margin-right: 20px;
        margin-bottom: 5px;
    }
}
