.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 60px;
    object-fit: cover;
    object-position: top left;
}
@media screen and (max-width: 600px) {
    .profile__avatar {
        margin-bottom: 5px;
    }
}
